.match-two-container {
  margin: 1rem;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(5, 0fr);
  gap: 10px;
  place-content: center;

  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 480px) {
    grid-template-columns: 1fr;
  }
}
