<div class="page-container">
    <section class="section section-1" [@fadeInAnimation]>
        <div class="section-contents from-left">
            <h1>Summary</h1>
            <p>
                I am a software developer working for Salaso with 5+ years of experience in developing web applications using angular.
                I have worked as part of an agile team and have a good knowledge of many technologies.
                I mostly work on the frontend, but also have experience working on backend using NodeJS.
                I am a quick learner and diligently apply myself to overcoming any challenge which I face.
                I enjoy learning new technologies and excel in a fast-paced dynamic environment.
            </p>
        </div>
    </section>

    <section class="section section-2" [@fadeInAnimation]>
        <div class="section-contents from-right">
            <h2>Core skills</h2>
            <div class="core-skills-grid">
                <ul>
                    <li>
                        <div class="list-item">
                            <span class="mr-2">Angular</span>
                            <mat-icon>star</mat-icon>
                            <mat-icon>star</mat-icon>
                            <mat-icon>star</mat-icon>
                            <mat-icon>star</mat-icon>
                            <mat-icon>star</mat-icon>
                        </div>
                    </li>
                    <li>
                        <div class="list-item">
                            <span class="mr-2">Nodejs</span>
                            <mat-icon>star</mat-icon>
                            <mat-icon>star</mat-icon>
                            <mat-icon>star</mat-icon>
                            <mat-icon>star</mat-icon>
                            <mat-icon>star_border</mat-icon>
                        </div>
                    </li>
                    <li>
                        <div class="list-item">
                            <span class="mr-2">Postman</span>
                            <mat-icon>star</mat-icon>
                            <mat-icon>star</mat-icon>
                            <mat-icon>star</mat-icon>
                            <mat-icon>star</mat-icon>
                            <mat-icon>star_border</mat-icon>
                        </div>
                    </li>
                    <li>
                        <span class="mr-2">Bitbucket</span>
                        <mat-icon>star</mat-icon>
                        <mat-icon>star</mat-icon>
                        <mat-icon>star</mat-icon>
                        <mat-icon>star</mat-icon>
                        <mat-icon>star_border</mat-icon>
                    </li>
                    <li>
                        <span class="mr-2">MySQL</span>
                        <mat-icon>star</mat-icon>
                        <mat-icon>star</mat-icon>
                        <mat-icon>star</mat-icon>
                        <mat-icon>star_border</mat-icon>
                        <mat-icon>star_border</mat-icon>
                    </li>
                    <li>
                        <span class="mr-2">AWS</span>
                        <mat-icon>star</mat-icon>
                        <mat-icon>star</mat-icon>
                        <mat-icon>star</mat-icon>
                        <mat-icon>star_border</mat-icon>
                        <mat-icon>star_border</mat-icon>
                    </li>
                    <li>
                        <span class="mr-2">MS Teams</span>
                        <mat-icon>star</mat-icon>
                        <mat-icon>star</mat-icon>
                        <mat-icon>star</mat-icon>
                        <mat-icon>star</mat-icon>
                        <mat-icon>star</mat-icon>
                    </li>
                </ul>

                <ul>
                    <li>
                        <div class="list-item">
                            <span class="mr-2">Typescript</span>
                            <mat-icon>star</mat-icon>
                            <mat-icon>star</mat-icon>
                            <mat-icon>star</mat-icon>
                            <mat-icon>star</mat-icon>
                            <mat-icon>star</mat-icon>
                        </div>
                    </li>
                    <li>
                        <span class="mr-2">HTML</span>
                        <mat-icon>star</mat-icon>
                        <mat-icon>star</mat-icon>
                        <mat-icon>star</mat-icon>
                        <mat-icon>star</mat-icon>
                        <mat-icon>star</mat-icon>
                    </li>
                    <li>
                        <span class="mr-2">SCSS</span>
                        <mat-icon>star</mat-icon>
                        <mat-icon>star</mat-icon>
                        <mat-icon>star</mat-icon>
                        <mat-icon>star</mat-icon>
                        <mat-icon>star</mat-icon>
                    </li>
                    <li>
                        <span class="mr-2">Javascript</span>
                        <mat-icon>star</mat-icon>
                        <mat-icon>star</mat-icon>
                        <mat-icon>star</mat-icon>
                        <mat-icon>star</mat-icon>
                        <mat-icon>star_border</mat-icon>
                    </li>
                    <li>
                        <span class="mr-2">Code review</span>
                        <mat-icon>star</mat-icon>
                        <mat-icon>star</mat-icon>
                        <mat-icon>star</mat-icon>
                        <mat-icon>star</mat-icon>
                        <mat-icon>star</mat-icon>
                    </li>
                    <li>
                        <span class="mr-2">Agile</span>
                        <mat-icon>star</mat-icon>
                        <mat-icon>star</mat-icon>
                        <mat-icon>star</mat-icon>
                        <mat-icon>star</mat-icon>
                        <mat-icon>star_border</mat-icon>
                    </li>
                    <li>
                        <span class="mr-2">808 accessibility</span>
                        <mat-icon>star</mat-icon>
                        <mat-icon>star</mat-icon>
                        <mat-icon>star</mat-icon>
                        <mat-icon>star</mat-icon>
                        <mat-icon>star_border</mat-icon>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <section class="section section-3">
        <div class="section-contents from-left">
            <h2>Section 3</h2>
            <p>This is the third section of the page.</p>
        </div>
    </section>

    <section class="section section-4">
        <div class="section-contents from-right">
            <h2>Section 4</h2>
            <p>This is the fourth section of the page.</p>
        </div>
    </section>

    <section class="section section-5">
        <div class="section-contents from-left">
            <h2>Section 5</h2>
            <p>This is the fifth section of the page.</p>
        </div>
    </section>
</div>