@import "/src/styles/variables";

.page-container {
  height: $full-height;
  overflow-y: scroll;
}

.section-1 {
  background: linear-gradient(30deg, #efefef 25%, #ffffff 25%);
}

.section-2 {
  background: linear-gradient(30deg, #ffffff 25%, #efefef 25%);
}

.section-3 {
  background: linear-gradient(30deg, #efefef 25%, #ffffff 25%);
}

.section-4 {
  background: linear-gradient(30deg, #ffffff 25%, #efefef 25%);
}

.section-5 {
  background: linear-gradient(30deg, #efefef 25%, #ffffff 25%);
}

// h1,
// h2 {
//   margin: 0;
// }

.section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.section-contents {
  max-width: 45rem;
  opacity: 0;
  transition: all 1s ease-out;

  &.from-left {
    transform: translateX(-100px);
  }

  &.from-right {
    transform: translateX(100px);
  }
}

.section-contents.active {
  opacity: 1;
  transform: translateX(0);
}

.core-skills-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}


.list-item {
    display: flex;
    align-items: center;
}