@import '/src/styles/variables';

.bdo-tab-group {
    
}

mat-card {
    width: 400px;
    margin: 1rem auto;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  mat-card-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
  }
  
  mat-form-field {
    width: 100%;
    margin-bottom: 16px;
  }
  
  .result {
    font-size: 20px;
    font-weight: 600;
    margin-top: 16px;
  }
  